.ajaxLoader {
	display: inline-block;
	position: relative;
	height: 40px;
}
.ajaxLoader div {
	position: absolute;
	top: 18px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #3b4796;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ajaxLoader div:nth-child(1) {
	left: 8px;
	animation: ajaxLoader1 0.6s infinite;
}
.ajaxLoader div:nth-child(2) {
	left: 8px;
	animation: ajaxLoader2 0.6s infinite;
}
.ajaxLoader div:nth-child(3) {
	left: 32px;
	animation: ajaxLoader2 0.6s infinite;
}
.ajaxLoader div:nth-child(4) {
	left: 56px;
	animation: ajaxLoader3 0.6s infinite;
}
@keyframes ajaxLoader1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes ajaxLoader3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes ajaxLoader2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
