.newsletterTitle {
	font-size: 1.75rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.newsletterContainer {
	padding: 3rem 0;
	color: #fff;
	background-color: #3b4796;
}
.newsletterText {
	flex-basis: 50%;
	padding-right: 30px;
}
.newsletterAction {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	height: 60px;
}
.subscribeInput {
	outline: none;
	width: 70%;
	background: transparent;
	border: 0;
	color: #000;
	font-size: 17px;
	font-weight: 500;
	padding: 0 15px;
}
.subscribeInput:focus {
	outline: none;
}
.subscribeButton {
	border-left: none;
	text-transform: uppercase;
	font-weight: 700;
	background: #297046;
	color: #fff;
	cursor: pointer;
	padding: 0 45px;
	line-height: 60px;
	justify-content: center;
	align-items: center;
}
.subscribeButton:hover {
	background: #ccc;
	color: #333;
}

@media all and (max-width: 480px) {
	.subscribeButton {
		padding: 0 10px;
	}
	.newsletterText {
		flex-basis: 100%;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.newsletterText {
		flex-basis: 100%;
	}
	.subscribeButton {
		padding: 0 60px;
	}
}
