.uHeaderContainer {
	padding: 25px 0;
	position: relative;
}
.d-block {
	display: block !important;
}
.quick-contact-icons .text .h4 {
	font-size: 1.2rem;
	color: #000;
	margin-bottom: 0;
}
.header-top .quick-contact-icons .text .caption-text {
	font-size: 1rem;
}
.caption-text {
	font-size: 16px;
	color: gray;
}

.icon span {
	font-size: 40px;
	line-height: 0;
	color: var(--main_bg);
}
.quick-contact-icons .icon {
	margin-right: 15px;
}
.logo img {
	max-width: 100px;
}

.menu-icon {
	display: none;
}
.menu-bar {
	height: 3px;
	width: 30px;
	background-color: #3b4796;
	border-radius: 5px;
}

.menu-bar + .menu-bar {
	margin-top: 5px;
}
.reMenuContainer {
	background-color: var(--main_bg);

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1;
}
.reMenuContainer a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 20px;
	text-transform: uppercase;
}

.reMenuActive {
	background: #313c88;
}

.headerDetail {
	width: 70%;
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.uHeaderWrapper {
		flex-direction: column;
	}

	.headerDetail {
		margin: 1rem 0;
		width: 100%;
	}
}

@media all and (max-width: 480px) {
	.headerDetail {
		display: none;
	}
	.menu-icon {
		display: block;
	}
	.uHeaderContainer {
		padding: 10px 0;
	}
}
