.headerContainer {
	padding: 15px;
	background: #fff;
	color: #fafafa;
	box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}

.headerTitle {
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
}

.headerIcon {
	margin-right: 20px;
	font-size: 22px;
	color: #040404;
}
