body {
	margin: 0;
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7ecf4;
}

@font-face {
	font-family: 'icomoon';
	src: url('./fonts/icomoon.eot?wy8iyo');
	src: url('./fonts/icomoon.eot?wy8iyo#iefix') format('embedded-opentype'),
		url('./fonts/icomoon.ttf?wy8iyo') format('truetype'), url('./fonts/icomoon.woff?wy8iyo') format('woff'),
		url('./fonts/icomoon.svg?wy8iyo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: '\e905';
}
.icon-library:before {
	content: '\e921';
}
.icon-users:before {
	content: '\e972';
}
.icon-key:before {
	content: '\e98d';
}
.icon-bin:before {
	content: '\e9ac';
}
.icon-eye:before {
	content: '\e9ce';
}
.icon-plus:before {
	content: '\ea0a';
}
.icon-exit:before {
	content: '\ea14';
}

@font-face {
	font-family: myiconAlternative;
	src: url(./fonts/Flaticon.eot);
	src: url(./fonts/Flaticond41d.eot?#iefix) format('embedded-opentype'), url(./fonts/Flaticon.woff2) format('woff2'),
		url(./fonts/Flaticon.woff) format('woff'), url(./fonts/Flaticon.ttf) format('truetype'),
		url(./fonts/Flaticon.svg#Flaticon) format('svg');
	font-weight: 400;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: myicon;
		src: url(./fonts/Flaticon.svg#Flaticon) format('svg');
	}
}
[class^='myicon-']:before,
[class*=' myicon-']:before,
[class^='myicon-']:after,
[class*=' myicon-']:after {
	font-family: myiconAlternative;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.myicon-placeholder:before {
	content: '\f100';
}
.myicon-call:before {
	content: '\f101';
}
.myicon-email:before {
	content: '\f102';
}
.myicon-oil-platform:before {
	content: '\f103';
}
.myicon-idea:before {
	content: '\f104';
}
.myicon-engineer:before {
	content: '\f105';
}
.myicon-crane:before {
	content: '\f106';
}
.myicon-plumb-bob:before {
	content: '\f107';
}
.myicon-compass:before {
	content: '\f108';
}
.myicon-planning:before {
	content: '\f109';
}
