.uaboutuscontainer {
	padding: 2rem 0;
}

.mission,
.vision,
.aboutus {
	padding-bottom: 1rem;
	line-height: 1.5rem;
}

.mission h3,
.vision h3,
.aboutus h3 {
	margin-bottom: 10px;
	color: #3b4692;
}
